body {
    font-family: Arial, sans-serif;
    background-color: #767686;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #3e0808;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 300px;
    padding: 10px;
    margin: 8px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {

    gap: 10px;
    margin-bottom: 200px;
    width: 300px;
}

button {
    flex-grow: 1; 
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: #cccccc; 
    color: #800020; 
    font-weight: bold; 
}

#convertButton:hover {
    background-color: #a0a0a0;
}

.clear-btn:hover {
    background-color: #a0a0a0;
}

#resultDisplay {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-top: 1px solid #eee;
    margin-top: 15px;
}